{%- if site.texture.showNav -%}
<div class="navbar">
	<ul>
		<a href="https://kimjea1999.github.io"><li class="linked-li">Home</li></a>
		<li>STUDY</li>
		<a href="https://kimjea1999.github.io"><li class="linked-li sub">DATA STRUCTURE</li></a>
		<a href="https://kimjea1999.github.io"><li class="linked-li sub">LOGIC CIRCUIT</li></a>
		<a href="https://kimjea1999.github.io"><li class="linked-li sub">JAVA PROGRAMMING</li></a>
		<a href="http://return0.dothome.co.kr" target="_blank"><li class="linked-li">thinkings</li></a>
	</ul>
</div>
{%- endif -%}
